.menu {
  background-color: teal;
  margin: 0px;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu li {
  margin: 0;
  padding: 5px;
  display: inline-block;
}

.menu li a {
  display: block;
  padding: 12px 16px;
  text-decoration: none;
  color: white;
}

.menu li a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.container {
  width: 50%;
  margin: 0 auto;
}
.form-group {
  margin: 5px;
  padding: 5px;
}

.form-group label,
.form-control,
.error-msg {
  display: block;
  padding: 2px;
  margin: 2px;
  width: 96%;
}

.form-group .error-msg {
  font-size: 10px;
  color: red;
}
.form-group label {
  font-weight: bold;
}
.form-control {
  margin: 5px;
  padding: 10px;
  border: 1px solid #cecece;
}

button {
  padding: 5px 15px;
  margin: 5px;
  background-color: teal;
  color: #ffffff;
  border: 1px solid teal;
  border-radius: 5px;
}

.family-container {
  padding: 5px;
  margin: 15px 5px;
  background-color: #f2f0f0;
  border: 1px solid silver;
  border-radius: 5px;
  position: relative;
}
.expand-coll-icon {
  height: 25px;
  width: 25px;
  display: inline-block;
  border: 1px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.expand-coll-icon.delete {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 10px;
}
.a-forms-section {
  display: flex;
}
.a-forms-section .tab {
  flex: 1;
  border-bottom: 5px solid silver;
  margin: 5px;
  padding: 10px;
}
.a-forms-section .tab.active {
  border-color: teal;
}
.user-info {
  padding: 5px;
  margin: 5px;
  border: 1px solid silver;
  border-radius: 5px;
}
.user-info div {
  padding: 5px;
  margin: 5px;
}
.display-flex {
  display: flex;
}
.product {
  padding: 5px;
  margin: 5px;
  border: 1px solid silver;
  border-radius: 5px;
}
.chip {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 15px;
  margin: 5px;
  border: 1px solid silver;
}
